<a href="https://colab.research.google.com/github/diaztomo/Python-Function/blob/main/ogimet_daily_summary_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd


datalist = []
years = ["2016","2017","2018","2019","2020"] #Tahun yang dipilih
for year in years :
  wmo_index = "96749"                     #Nama Stasiun
  ndays = "31"                            # Banyak hari yang ditampilkan
  year = year                             # Tahun
  mon = ["01","02","03","04","05","06",   # Bulan
        "07","08","09","10","11","12"]
  day = "31"                              # Dimulai/diakhiri tanggal 
  hora = "00"                             # DIR dari tanggal tua ke muda
  lord = "DIR"


  for mo in mon :
    url = "https://www.ogimet.com/cgi-bin/gsynres?lang=en&ind="+"96749&ndays="+ndays+"&ano="+year+"&mes="+mo+"&day="+day+"&hora="+hora+"&ord="+"DIR&Send=Send"
    page = requests.get(url)
    soup = bs(page.text,"lxml")
    tabel = soup.find_all("table", id =None)[2]
    #"https://www.ogimet.com/cgi-bin/gsynres?lang=en&ind=96749&ndays=30&ano=2020&mes=11&day=28&hora=06&ord=REV&Send=Send"
    headers = ["date","min_temp","max_temp","avg_temp","td_avg","hr_avg","win_dir","wind_int","pres_lv","prec","tot_cl","low_cl","sun_d1","vis",
            "1","2","3","4","5","6","7","8"]
    
    for j in tabel.find_all("tr")[2:]:
      row_data = j.find_all("td")
      row = []
      for i in row_data:
        row.append(i.text)

      datalist.append(row)



data1 = pd.DataFrame(datalist,columns=headers)
data1.drop_duplicates(inplace=True)
data1.drop(["1","2","3","4","5","6","7","8"],axis=1,inplace=True)
data1.to_csv("data_ogimet.csv")

         0
0     14.0
1      NaN
2      0.0
3      0.0
4      0.0
...    ...
1822   0.2
1823   0.0
1824   0.2
1825   0.0
1826  16.0

[1827 rows x 1 columns]

In [ ]:
prec = data1.prec
prec
clean =[]
for i in prec:
  if (i)=="Tr" :
    clean.append(0)
  else :
    clean.append(i)

clean = pd.DataFrame(clean)
clean.apply(pd.to_numeric, errors="coerce")

In [14]:
data1.apply(pd.to_numeric, errors="coerce")

     date  min_temp  max_temp  avg_temp  ...  tot_cl  low_cl  sun_d1   vis
0     NaN       NaN       NaN       NaN  ...     NaN     NaN     NaN   NaN
1     NaN      32.3      25.1      28.1  ...     6.7     2.7     NaN  10.4
2     NaN      33.2      24.4      27.3  ...     6.0     3.4     6.1   9.1
3     NaN      32.4      26.0      28.2  ...     5.8     3.8     5.5   9.2
4     NaN      33.3      25.4      28.6  ...     5.4     2.0     9.0   9.6
..    ...       ...       ...       ...  ...     ...     ...     ...   ...
367   NaN      30.5      23.8      25.9  ...     7.2     2.5     2.9   9.1
368   NaN      31.2      24.2      27.2  ...     7.4     3.3     2.0   8.3
369   NaN      31.4      22.2      25.7  ...     7.4     3.6     4.9   7.9
370   NaN      30.2      24.5      26.6  ...     6.8     2.8     1.0   7.6
371   NaN      32.2      24.6      28.1  ...     6.4     2.1     7.0   7.2

[365 rows x 14 columns]

In [24]:
prec = data1.prec
prec
clean =[]
for i in prec:
  if (i)=="Tr" :
    clean.append(0)
  else :
    clean.append(i)

In [27]:
clean = pd.DataFrame(clean)
clean.apply(pd.to_numeric, errors="coerce")

        0
0     NaN
1     NaN
2    34.0
3     0.0
4     0.0
..    ...
360   0.8
361   4.0
362  17.0
363   0.0
364   0.0

[365 rows x 1 columns]

In [23]:
type(1) == int

True