<a href="https://colab.research.google.com/github/diaztomo/Python-Function/blob/main/ogimet_daily_summary_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd


datalist = []
years = ["2016","2017","2018","2019","2020"] #Tahun yang dipilih
for year in years :
  wmo_index = "96749"                     #Nama Stasiun
  ndays = "31"                            # Banyak hari yang ditampilkan
  year = year                             # Tahun
  mon = ["01","02","03","04","05","06",   # Bulan
        "07","08","09","10","11","12"]
  day = "31"                              # Dimulai/diakhiri tanggal 
  hora = "00"                             # DIR dari tanggal tua ke muda
  lord = "DIR"


  for mo in mon :
    url = "https://www.ogimet.com/cgi-bin/gsynres?lang=en&ind="+"96749&ndays="+ndays+"&ano="+year+"&mes="+mo+"&day="+day+"&hora="+hora+"&ord="+"DIR&Send=Send"
    page = requests.get(url)
    soup = bs(page.text,"lxml")
    tabel = soup.find_all("table", id =None)[2]
    #"https://www.ogimet.com/cgi-bin/gsynres?lang=en&ind=96749&ndays=30&ano=2020&mes=11&day=28&hora=06&ord=REV&Send=Send"
    headers = ["date","min_temp","max_temp","avg_temp","td_avg","hr_avg","win_dir","wind_int","pres_lv","prec","tot_cl","low_cl","sun_d1","vis",
            "1","2","3","4","5","6","7","8"]
    
    for j in tabel.find_all("tr")[2:]:
      row_data = j.find_all("td")
      row = []
      for i in row_data:
        row.append(i.text)

      datalist.append(row)



data1 = pd.DataFrame(datalist,columns=headers)
data1.drop_duplicates(inplace=True)
data1.drop(["1","2","3","4","5","6","7","8"],axis=1,inplace=True)
data1.to_csv("data_ogimet.csv")

         0
0     14.0
1      NaN
2      0.0
3      0.0
4      0.0
...    ...
1822   0.2
1823   0.0
1824   0.2
1825   0.0
1826  16.0

[1827 rows x 1 columns]

In [ ]:
prec = data1.prec
prec
clean =[]
for i in prec:
  if (i)=="Tr" :
    clean.append(0)
  else :
    clean.append(i)

clean = pd.DataFrame(clean)
clean.apply(pd.to_numeric, errors="coerce")